*{
 box-sizing: border-box;
 font-family: 'Courier New', Courier, monospace;
}


body {
	background: linear-gradient(-45deg, #3D58FE, #4D37E6, #9149FC, #AC37E6 );
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 1;
    margin: 0%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



aside{

    z-index: 2;
    width: 7vw;
    background-color: rgb(243, 116, 136);
    display: block;
    position: fixed;
    left: 0;
    height: 100%;
    margin: 0%;
   

    text-align: center;



}


a{
 
    text-decoration: none;
    color: white;
    display:block; 
    width: 100%;
    padding: 20px  0px;
    transition: background-color 0.6s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

a:hover{

    background-color:#3D58FE;
}


footer{
    text-align: center;
    display: block;
    
    position:fixed;
    bottom: 0;
    width: 100%;
 
    background-color: rgb(243, 116, 136);
    height: 5vh;
    padding:2vh
}

main{
    
    display: block;
    float: right;
    right: 0;
    width: 92%;

}

section{
    display: inline-block;
    margin: 20px;
    border: solid 3px #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 50%;
    max-height:200px;
    overflow-y: auto;
}



h2{ 
    
    padding: 10px 20px;
    border-bottom: solid 1px #fff;
}

article{
    padding: 20px 20px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;

}

p{
    padding: 9px 19px;
}

#box {

    width: 50%;
    min-width: auto;
    height: auto;
    min-height: auto;
    background-color: white;
    margin: auto;
    opacity: 1;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 5;
    padding: 25px;
    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color:#555;
}

#box>p {
    border-left: none;
    text-align: center;
    margin-left: 0%;
    padding: none;
    border-radius: 5px;

}

#box>button {
    opacity: 0.7;
    padding: 12px 41px;
    float: right;

    border-color: #46b8da;

    background-color: #46b8da;
    color: white;
    border-radius: 5px;


}

#box>button:hover {
    opacity: 1;
}

.welcoming-user-section{
        color:red;
        width: 38%;
        height: 44%;
        text-align: center;
        font-size: xxx-large;
        border: none;
}

.circle-list-style{
    list-style-type: circle;
    padding-left: 30px;
    padding-top: 9px ;
}


ol{
    list-style-type: decimal;
    padding-left: 60px;
    padding-top: 9px ;
}